.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: start;
}
.chat-message-text {
  background-color: rgb(202, 202, 202);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 10px;
  max-width: 300px;
}
